/* Heather Caudill - 3/25/2020 - viciouscycles.css*/

/*design for mobile viewports*/
body {
	background-color: #E7FBFB;
} 
h1 {
	font-size: 4em;
	text-align: center;
	color: #011B5B;
	
	
}
	
